@{
    List<Contact> contacts = (List<Contact>)ViewData["ContactList"];
}

<form method="get">
    <div class="row">
        <div class="col-sm-8">
            <h3>Contactos <a href="/Contacts/Edit" class="btn btn-primary btn-sm">Agregar +</a></h3>

        </div>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="SearchCriteria" placeholder="Buscar por nombre..." aria-label="Buscar por nombre...">
        </div>

    </div>
</form>
<div class="row" id="ItemsContainer">
    @{
        foreach (Contact contact in contacts)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="contactName">@(contact.FirstName + " " + contact.LastName)</h3>
                        <p>
                            <b>Telefono : </b> <span>@(contact.Phone)</span><br />
                            <b>Email : </b> <span>@(contact.Email)</span><br />
                            <b>Direcion : </b> <span>@(contact.Address)</span><br />
                        </p>
                        <hr />
                        <a href="/Contacts/Edit/@(contact.Id)" class="btn btn-primary btn-block">Editar</a>
                    </div>
                </div>
            </div>
        }
        if(contacts.Count() == 0) {
            <div class="col-sm-12 center" style="text-align : center">
                <small class="text-muted">No se encontraron resultados...</small>
            </div>
        }
    }
</div>


<script>
    $("[name='SearchCriteria']").on("keyup", function() {
    var searchCriteriaValue = $(this).val();
    if(searchCriteriaValue.trim() == "") {
        searchCriteriaValue = null;
    }
    $.get("/Contacts/Search", { SearchCriteria : searchCriteriaValue}, function(contacts) {
        $("#ItemsContainer").html("");
        for(var contact of contacts) {
            var ContactTemplate = $(`<div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="contactName">${contact.firstName + " " + contact.lastName}</h3>
                        <p>
                            <b>Telefono : </b> <span>${contact.phone}</span><br />
                            <b>Email : </b> <span>${contact.email}</span><br />
                            <b>Direcion : </b> <span>${contact.address}</span><br />
                        </p>
                        <hr />
                        <a href="/Contacts/Edit/${contact.id}" class="btn btn-primary btn-block">Editar</a>
                    </div>
                </div>
            </div>`);
            $("#ItemsContainer").append(ContactTemplate);
        }
    })
})


</script>